<div
  class="container"
>
  <div
    *ngIf="chatRooms$ | async as chatRooms"
    class="chat-rooms"
  >
    <div
      class="header"
    >
      <div class="header__item">Room Name</div>
    </div>
    <div
      *ngFor="let chatRoom of chatRooms"
      class="chat-room"
      (click)="onClickRoom(chatRoom.id)"
    >
      <div
        class="chat-room__item"
      >
        {{ chatRoom.name }}
      </div>
    </div>
  </div>

  <div class="chat-messages">
    <router-outlet></router-outlet>
  </div>
</div>
